.dialAvatar {
  height: 200px !important;
  width: 200px !important;
}
.badgeIcon{
    width:32px !important;
    height: 32px !important;
    background-color: #fff !important;
    border-radius: 50% !important;
}
